


.first-body{
  background-color: #B1D0E0;
  margin-left: 10%;
  margin-right: 30%;
  margin-bottom: 10%;
  padding: 5%;
  border-radius: 30%;
}
.clouds{
  margin-left: 98%;
  margin-top: -19%;
}
.cloudss{
  margin-left: -21%;
  margin-top:-10%;
}
.second-body{
  background-color: #B1D0E0;
  margin-left: 30%;
  margin-right: 10%;
  margin-bottom: 10%;
  padding: 5%;
  border-radius: 30%;
}
.numbers{
  padding-top: 5%;
}
.cloudsss{
  margin-left: -22%;
  margin-top: -19%;
}
.cloudssss{
  margin-left: 98%;
  margin-top: -15%;
}
.third-body{
    background-color: #B1D0E0;
    margin-left: 10%;
    margin-right: 30%;
    margin-bottom: 10%;
    padding: 5%;
    border-radius: 30%;
}
.mail{
  margin-top: 5%;
}
#click{
  margin-left: 30%;
  margin-top: -5%;

}

#st1{
  margin: 2%;
}
#img55:hover{
  color:teal;
}
hr{
  width: 100%;
  border-width:1px 0 0 0;
  border-style: dotted;
  margin-bottom:2px;
}
body{
  background-color: #1A374D;
}

h1{
  font-size: 60px;
  font-family:  Papyrus;
  color:  #105652;
}
h2{
  font-size: 30px;
  font-family: 'Javanese Text';
  color:#8E0505;
}
h3{
  font-size: 20px;
  font-family: cursive;
  color: #B91646;
}
h4{
  font-size: 15px;
  font-family: cursive;
  color: #864000;
}
